@font-face {
  font-family: 'isotope';
  src:  url('fonts/isotope.eot?4i64kw');
  src:  url('fonts/isotope.eot?4i64kw#iefix') format('embedded-opentype'),
    url('fonts/isotope.ttf?4i64kw') format('truetype'),
    url('fonts/isotope.woff?4i64kw') format('woff'),
    url('fonts/isotope.svg?4i64kw#isotope') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iso-"], [class*=" iso-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'isotope' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iso-te5seract:before {
  content: "\e943";
}
.iso-mirage-letterhead:before {
  content: "\e942";
}
.iso-css:before {
  content: "\e936";
}
.iso-file-unknown:before {
  content: "\e937";
}
.iso-html:before {
  content: "\e938";
}
.iso-js:before {
  content: "\e939";
}
.iso-json:before {
  content: "\e93a";
}
.iso-less:before {
  content: "\e93b";
}
.iso-php:before {
  content: "\e93d";
}
.iso-sass:before {
  content: "\e93e";
}
.iso-scss:before {
  content: "\e93f";
}
.iso-sql:before {
  content: "\e940";
}
.iso-txt:before {
  content: "\e941";
}
.iso-eye:before {
  content: "\e93c";
}
.iso-mirage-eye:before {
  content: "\e934";
}
.iso-mirage:before {
  content: "\e935";
}
.iso-ia-visuals:before {
  content: "\e930";
}
.iso-tesseract:before {
  content: "\e931";
}
.iso-page:before {
  content: "\e92f";
}
.iso-folder:before {
  content: "\e92e";
}
.iso-bold:before {
  content: "\e901";
}
.iso-code:before {
  content: "\e910";
}
.iso-header:before {
  content: "\e900";
}
.iso-italic:before {
  content: "\e902";
}
.iso-strike:before {
  content: "\e903";
}
.iso-layers:before {
  content: "\e932";
}
.iso-jigsaw:before {
  content: "\e92d";
}
.iso-bell:before {
  content: "\e92c";
}
.iso-speaker:before {
  content: "\e92a";
}
.iso-rocket-left:before {
  content: "\e917";
}
.iso-rocket:before {
  content: "\e916";
}
.iso-rocket-right:before {
  content: "\e918";
}
.iso-share:before {
  content: "\e923";
}
.iso-garbage-can:before {
  content: "\e924";
}
.iso-comment:before {
  content: "\e925";
}
.iso-heart:before {
  content: "\e926";
}
.iso-brush:before {
  content: "\e927";
}
.iso-brush-left:before {
  content: "\e928";
}
.iso-brush-right:before {
  content: "\e929";
}
.iso-audio:before {
  content: "\e921";
}
.iso-pause:before {
  content: "\e92b";
}
.iso-stop:before {
  content: "\e933";
}
.iso-play:before {
  content: "\e922";
}
.iso-tick:before {
  content: "\e920";
}
.iso-pencil-left:before {
  content: "\e91d";
}
.iso-pencil:before {
  content: "\e91e";
}
.iso-pencil-right:before {
  content: "\e91f";
}
.iso-subtract:before {
  content: "\e91b";
}
.iso-ellipse:before {
  content: "\e91c";
}
.iso-ellipse-vertical:before {
  content: "\e906";
}
.iso-add:before {
  content: "\e907";
}
.iso-chevron-down:before {
  content: "\e908";
}
.iso-chevron-left:before {
  content: "\e909";
}
.iso-chevron-right:before {
  content: "\e919";
}
.iso-chevron-up:before {
  content: "\e91a";
}
.iso-home:before {
  content: "\e915";
}
.iso-mail:before {
  content: "\e914";
}
.iso-user:before {
  content: "\e913";
}
.iso-clapper:before {
  content: "\e912";
}
.iso-gear:before {
  content: "\e911";
}
.iso-list-ordered:before {
  content: "\e904";
}
.iso-list-unordered:before {
  content: "\e905";
}
.iso-cross:before {
  content: "\e90a";
}
.iso-hamburger:before {
  content: "\e90b";
}
.iso-image-o:before {
  content: "\e90c";
}
.iso-link:before {
  content: "\e90d";
}
.iso-link-left:before {
  content: "\e90e";
}
.iso-link-right:before {
  content: "\e90f";
}
